TELEGRAM_BOT_TOKEN=

PG_HOST=
PG_PORT=
PG_DB=
PG_USER=
PG_PW=

JWT_SECRET=

# Development Purpose
ENABLE_AUTH=true
MOCK_TG_ID=

PAYHERE_AUTH_CODE=
PAYHERE_APP_ID=
PAYHERE_APP_SECRET=
PAYHERE_MERCHANT_ID=
PAYHERE_MERCHANT_SECRET=
PAYHERE_RETURN_URL=
PAYHERE_CANCEL_URL=
PAYHERE_NOTIFY_URL=
PAYHERE_ENV= # live or sandbox